[Desktop Entry]
Type=Application
Exec=bash -c "$HOME/a-wallpaper-lite/x11/awlscreenstart.sh"
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name=AWL start
