[Desktop Entry]
Type=Application
Exec=bash -c "$HOME/awlscreen/awlscreen.sh"
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name=AWL start
