[Desktop Entry]
Type=Application
Exec=bash -c "$HOME/awlscreen/awlscreen.sh" --daemon
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name=AWLrestarter
